<ion-view>
  <ion-nav-title> {{req.period}} - {{req.country}} </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="item" ng-repeat="cData in chartData" type="item-text-wrap">
        <h2>{{cData.title}}</h2>
        <nvd3-line-plus-bar-chart data="cData.data" id="spendingPulseChart{{$index}}" staggerLabels="true" showXAxis="true" showYAxis="true"
          interactive="true" tooltips="true" showControls="true" showLegend="true" clipEdge="true" height="{{chart.height}}"
          xAxisTickFormat="xAxisTickFormat()" noData="Please wait loading data...">
          <svg></svg>
        </nvd3-line-plus-bar-chart>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>