<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Spending Pulse" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/spending-pulse">
    <ion-nav-view name="tab-spendingPulse"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Gas Weekly" icon-off="ion-arrow-graph-up-left" icon-on="ion-arrow-graph-up-left" href="#/tab/gas-weekly">
    <ion-nav-view name="tab-gasWeekly"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Subscriptions" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog-outline" href="#/tab/subscriptions">
    <ion-nav-view name="tab-subscriptions"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Parameters" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear-outline" href="#/tab/parameters">
    <ion-nav-view name="tab-parameters"></ion-nav-view>
  </ion-tab>
</ion-tabs>
